* {
  margin:0;
  padding:0;
}

body {
  background:#fff;
  color:#000;
  font-family: helvetica, arial, sans-serif;
}

header {
    text-align: center;
}

#signin {
    text-align: center;
}

input[type^=submit] {
    padding: 0.3em;
}

span.error { 
    float:left; 
    width:100%; 
    background:#f7f7c9; 
    color:#333; 
    display:block; 
}