{% extends "admin/base.html" %}

{% block header %}
    <span><a href="{% url bookings:admin:index %}">Home</a> &raquo; Change Request</span>    
{% endblock %}

{% block content %}
    <div class="widget request border">
        <span class="black">{{visit.date|date:"j F Y"}}<br>{{patient.te_id}}</span><br>
        {{patient.get_display_name}}<br>
        {{visit.clinic.name}}.
    </div>

    <div class="widget border">
    <span class="black">{{change_request.request}}</span>
    </div>
    
    <h1>WIP, change request form</h1>
    
    <div class="widget">
    <span class="black">Available Times:</span><br>
    <form method="post" action="">    
        <input type="radio">08:30<br>
        <input type="radio">10:00<br>
        <input type="radio">13:45<br>
        <input type="radio">15:15<br>
        <input type="submit" value="Make Change" class="submit">
    </form>    
    </div>

    <div class="widget">
        <a href="change-requests.html" class="green">Deny Change</a>
        <a href="change-requests.html" class="green">More Change Requests &raquo;</a>
        <a href="index.html" class="green">Main Menu</a>
    </div>

    <div class="clear"></div>

{% endblock %}