*~
*.egg-info
*.pyc
*.svn
./config.py
.coverage
.DS_Store
.vagrant
cover/
coverage.xml
db/*.db
docs/_build/*
environments/live/*
logs/*.log
nosetests.xml
pep8.txt
tmp/coverage/*
*.swp
ve/
webroot/media/upload/*
widget.wgt
