{% extends "base.html" %}

{% block header %}
    <span class="profile">Hello {{patient.name}} {{patient.surname}}</span>
{% endblock %}
    
{% block content %}
    {% if patient.next_visit %}
    <div class="widget appointment">
        <!--<span class="alert">Your appointment schedule has been updated. <br>
        <a href="#">Review upcoming appointments</a></span>-->
        <span class="record">Your next appointment is:</span><br>
        <span class="large">{{patient.next_visit.date|date:"j F Y"}}</span><br>
        {{patient.next_visit.clinic.name}}<br>
        <a href="{% url bookings:appointment_change visit_id=patient.next_visit.pk %}">Do you need to change this?</a>
    </div>
    {% else %}
    <div class="widget appointment">
        <span class="alert">
            There aren't any visits for you scheduled at the moment. <br>
            <a href="{% url bookings:request_call %}">Request a call if you believe this is an error.</a></span>
    </div>
    
    {% endif %}

    <div class="clear"></div>

    {% include "includes/menu.html" %}

{% endblock %}
    
{% block post_content %}
{% include "includes/young_africa_live.html" %}
{% endblock %}