{% extends "base.html" %}

{% block header %}
<span><a href="{% url bookings:index  %}">Home</a> &raquo; Request Call</span>
{% endblock %}

{% block content %}
<div class="widget">
	<span class="black">Click on the button below to request a call from the clinic.</span>
    <div class="widget">
        <form action="" method="post">
            <label><strong>What number can reach you on?</strong></label><br>
            <br/>
            {% if user.is_anonymous %}
                    <label for="id_name">Enter your name: </label>
                    <input type="text" name="name" id="id_name" value=""/><br>
                    <br/>
                    <label for="id_msisdn">Enter phone number: </label>
                    <input type="text" name="msisdn" id="id_msisdn" value=""/><br>
                    <br/>
            {% else %}
                <input type="radio" name="number" id="id_existing" value="{{user.username}}" checked="true">
                    <label for="id_existing">My existing number: </label> {{user.username}}<br>
                    <br/>
                <input type="radio" name="number" id="id_unknown">
                    <label for="id_unknown">On a different number: </label> <input type="text" name="msisdn" value=""/><br>
                    <br/>
            {% endif %}
            <input type="submit" class="request" value="Send Request"><br>
        </form>
    </div>

    <div class="clear"></div>

</div>

<div class="clear"></div>

{% include "includes/menu.html" %}
{% endblock %}
