<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>txtAlert</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<link rel="stylesheet" href="/static/includes/styles.css" type="text/css" />
</head>
<body>
	<div class="header">
		<div class="logo"><img src="/static/images/logo.jpg" alt="" /></div>
		<span><a href="{% url bookings:index %}">Home</a> &raquo; Page Not Found</span>
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>

	<div class="widget">
		Oops! The page you are looking for doesn't seem to exist.<br>
		Please start over at the <a href="{% url bookings:index %}">home page</a>
	</div>
	
	<div class="clear"></div>
	
	<div class="footer">
		<div class="footer_text">
			 <span>&copy; 2011 Praekelt Foundation</span>
		</div>	 
		<div class="clear"></div>
	</div>

</body>
</html>
