@charset "utf-8";

/*GENERAL*/

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0 }

body { overflow-x: hidden; background:#fff; color: #000; font-family: sans-serif; font-size: medium; -webkit-text-size-adjust: none; }

* { margin: 0; padding: 0 }

a:link, a:active, a:visited, a:hover { color:#70af00; text-decoration:none; }
p { margin:6px 0; }
ul { margin:20px; }

/*EXTRA*/
.clear { clear:both; }
.no-border { border:none!important; }
span.error { float:left; width:100%; color:#ff3300; display:block; }
span.alert { float:left; width:100%; background:#f7f7c9; color:#000; display:block; border-bottom:1px solid #d8d7a9; }
span.black { color:#000; }
span.missed { color:#666!important; }
.border { border-bottom:1px solid #e0e0e0; }
span.record { color:#999; font-size:small; }

/*HEADER*/
.header { background:#7f7f7f; height:auto; font-size:small; color:#fff; font-weight:bold; }
     .header .logo { float:left; width:100%; background:#fff; text-align:center; }
	 .header .logo img { width:111px; }
	 .header span.profile { clear:both; display:block; width:100%; height:18px; padding:5px 14px; margin:0 0 0 5px; background: #7f7f7f url("../images/icon_profile.jpg") 0 6px no-repeat; }
     .header span { clear:both; display:block; width:100%; height:18px; padding:5px 5px; background: #7f7f7f; }
	 .header span, .header span em { float:left; }
     .header span a { float:left; text-align:center; color:#fff; }
	 
/*FORMS*/
label { color:#000; }
textarea { resize:none; width:100%;}
a.green { display:block; font-size:small; text-align:center; background:#5da500; color:#fff; border-bottom:1px solid #fff; width:100%; margin:0; }
a.cancel { display:block; font-size:small; text-align:center; background:#ececec; color:#666; border:none; width:100%; margin:0; }
select { width:100%; }
select#id_date_month,
select#id_date_day,
select#id_date_year {
    width: auto !important;
}
.date-pick select { float:left; width:60px; }

.space { float:left; display:block; height:10px; }

/*APPOINTMENT*/
.appointment { background:#000!important; color:#fff!important; }

/*PAGINATION*/
.pagination { float:left; color:#333; font-size:small; padding:8px 5px; }

/*WIDGET*/	
.widget { float:left; width:100%; background:#fff; color:#666; font-size:small; padding:8px 5px; }
.grey { background:#7f7f7f; color:#fff; font-weight:bold; padding:8px 5px;}	
.alert { color:#000!important; background:#f7f7c9!important; }
.form { color:#000; }
.missed { background:#ECECEC!important; border-bottom: 1px solid #D9D9D9; color:#000!important; }
.request { background:#ECECEC!important; border-bottom: 1px solid #D9D9D9; color:#666!important; }
	
/*PROFILE*/
.profile_item { margin:0 0 10px 0; }
.profile_item span.label { font-weight:bold; display:block; }

/*NAVIGATION*/
.nav { font-size:small; }
	.nav a { float:left; width:100%; padding:8px 5px; background:#5da500; color:#fff; display:block; border-bottom:1px solid #4e8901; }
	.nav a.menu { background:none; height:1px; border:0; }
    
/*FOOTER*/

.footer { padding:10px 5px; color:#999; font-size: small; background:#000; }
    .footer span, .footer_text, .footer img { float:left; }
    .footer .footer_text span.pipe { color:#666; float:left; }
	.footer a { display:block; float:left; color:#569800; margin:0 5px; }
    .footer span.copy { margin:0 0 0 5px; }