{% extends "admin/therapyedge/fake_base.html" %}

{% block content %}
    <div id="content-main">
        {% if events %}
            <p>
                New: {{ events.new }}<br />
                Updated: {{ events.updated }}<br />
                Errors: {{ events.errors }}<br />
            </p>
            <p>
                <h2>Errors</h2>
                {% for error in events.error_messages %}
                    {{ error }}<br />
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endblock %}
