{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'TxtAlert Administration' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{% url static "images/logo.png" %}" />
        {% if user.is_authenticated and user.is_staff %}
            &nbsp;|&nbsp;
            <a href="/therapyedge/stats/">Statistics</a>
            &nbsp;|&nbsp;
            <a href="/therapyedge/action/">Action</a>
        {% endif %}
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
