.availability.loading {
    background: transparent url('/static/images/availability.loading.gif') no-repeat top right;
}

.availability.low {
    border-color: green;
    color: green;
}

.availability.medium {
    border-color: orange;
    color: orange;
}

.availability.high {
    border-color: red;
    color: red;
}