<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {# <script src="{{ STATIC_URL }}scripts/jquery.min.js"></script> #}
    {# <script type="text/javascript">if(parent.emulator)parent.emulator.begin(window);</script> #}
    {# <script src="{{ STATIC_URL }}scripts/base.js"></script> #}
    <link rel="stylesheet" href="{{ STATIC_URL }}style/base.css">
    <title>txtAlert</title>
    <script type="text/javascript" charset="utf-8">
        var load_page = function() {
            var form = document.getElementsByTagName('form')[0];
            var msisdn = form.msisdn.value;
            var patient_id = form.patient_id.value;
            document.location = '{% url bookings:index %}/?msisdn='+msisdn+'&patient_id='+patient_id;
        };
    </script>
</head>
<body>
    <header>
        <div class="logo"><img src="{{ STATIC_URL }}images/logo.jpg" alt="" /></div>
    </header>
    <div id="signin">
        <span>Sign In</span>
        <div class="error"></div>
        <form id="signin_form" method="get" onsubmit="return false;" action="{% url bookings:widget_landing %}">
            <label>Cell Phone Number</label><br>
            <input type="text" name='msisdn' value=""><br>
            <label>Patient ID</label><br>
            <input type="text" name='patient_id' value=""><br>
            <input type="submit" id="submit" onclick="load_page(); return false;" value="Sign In" class="submit">
        </form>
    </div>
</body>
</html>