<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
    <script type="text/javascript">if(parent.emulator)parent.emulator.begin(window);</script>
    <script src="{{ STATIC_URL }}scripts/base.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}style/base.css">
    <title>txtAlert</title>
</head>
<body>
    <header>
        <div class="logo"><img src="{{ STATIC_URL }}images/logo.jpg" alt="" /></div>
    </header>
    <div id="signin">
        <span>Sign In</span>
        <div class="error"></div>
        <form id="signin_form">
            <label>Cell Phone Number</label><br>
            <input type="text" name='msisdn' value=""><br>
            <label>Patient ID</label><br>
            <input type="text" name='patient_id' value=""><br>
            <input type="submit" id="submit" value="Sign In" class="submit">
        </form>
    </div>
    <div id="appointment">
        <span>Hello</span>
        <div class="info">
            <em>Your next appointment is:</em><br/>
            <h1>25 March 2011 - 15:30</h1>
            <h2>Temba Lethu Clinic</h2>
            <p><a target="_blank" href="http://qa.txtalert.praekeltfoundation.org/bookings/">Do you need to change this?</a></p>
        </div>
    </div>
</body>
</html>